body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: "https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fair-pollution-background&psig=AOvVaw3SlddI2DaYUILtovkvrKo1&ust=1735372476834000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCJj44bS8x4oDFQAAAAAdAAAAABAE"
}

header {
  background-color: #009688;
  color: #fff;
  padding: 1em 0;
  text-align: center;
}

main {
  padding: 2em;
}

section {
  margin-bottom: 2em;
}

#aqi-checker {
  text-align: center;
}

#city-input {
  padding: 0.5em;
  width: 200px;
}

#check-aqi {
  padding: 0.5em;
  background-color: #009688;
  color: #fff;
  border: none;
  cursor: pointer;
}

#check-aqi:hover {
  background-color: #00796b;
}
